.text-left-align {
    text-align: left;
}

#date {
    height: 40px;   
}

button {
    width: 150px;
} 

.jumbotron {
    background-color: lightskyblue
}

.react-bs-table-tool-bar, input[type=checkbox] {
    display: none
}

